<div class="index_sidebar">
    <div class="sidebar_browse">
        <section class="sidebar_browse_group">
            <h2>Popular tags</h2>
            <div class="browse_filters">
                <a href="">Terror</a>
                <a href="">Multiplayer</a>
                <a href="">Arcade</a>
                <a href="">HTML5</a>
                <a href="">Simulación</a>
                <a href="">Plataformas</a>
                <a href="">Roguelike</a>
                <a href="">Runner</a>
                <a href="">Brose all tags</a>
            </div>
        </section>
        <section class="sidebar_browse_group">
            <h2>Game by price</h2>
            <div class="browse_filters">
                <a href="">Ofertas</a>
                <a href="">Gratis</a>
                <a href="">Con demo</a>
                <a href="">Más vendidos</a>
                <a href="">< S/.5</a>
                <a href="">< S/.15</a>
            </div>

        </section>        
    </div>
</div>