<div class="header_spacer">
  <div class="header_widget sticky mobile_nav">
    <div class="primary_header">
      <h1 class="title" title="PeruGames.io - indie game hosting marketplace">
          <a href="/" title="PeruGames.io - indie game hosting marketplace" class="header_logo"></a>
      </h1>
      <div class="header_buttons">
        <a href="" class="header_button browse_btn">Browse games</a>
        <a href="" class="header_button developers_btn">Upload game</a>
        <a href="" class="header_button devlogs_btn">Devlogs</a>
      </div>
      <form action="" class="game_search">
          <input required="required" class="search_input" name="q" placeholder="Search for games or creators" type="text">
          <button aria-label="Search" class="submit_btn"><svg stroke-linecap="round" stroke="currentColor" class="svgicon icon_search" role="img" version="1.1" viewBox="0 0 24 24" stroke-width="3" height="18" stroke-linejoin="round" aria-hidden="" fill="none" width="18"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
      </form>
      <div class="user_panel_widget">
        <a href="" class="panel_button">Log in</a>
        <a href="" class="panel_button register_button">Register</a>
      </div>
    </div>
  </div>
</div>
