<div class="game_cell index_game_cell_widget has_cover">
  <div class="bordered">
    <a class="game_thumb" href=""></a>
    <div class="fading_data_cell_tools"></div>
    <div class="sale_flag"></div>
    <div class="p_data fading_data"></div>
  </div>
  <div class="label">
    <div class="price_tag meta_tag onsale"></div>
    <a href="" class="title">
      Of Gods and Men: The Daybreak Empire
    </a>
  </div>
  <div class="sub cell_tags">
      <a href="">#Turn-based Strategy</a>
      ,
      <a href="">#Strategy RPG</a>
  </div>
  <div class="sub">
    Conquer your way across a war-ravaged world to forge a new empire and impart an unprecedented era of peace!
  </div> 
</div>