/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local("Lato Regular"), local("Lato-Regular"), url("assets/fonts/lato-v14-latin-regular.woff2") format("woff2"), url("/assets/fonts/lato-v14-latin-regular.woff") format("woff")
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local("Lato Italic"), local("Lato-Italic"), url("assets/fonts/lato-v14-latin-italic.woff2") format("woff2"), url("/assets/fonts/lato-v14-latin-italic.woff") format("woff")
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local("Lato Bold"), local("Lato-Bold"), url("assets/fonts/lato-v14-latin-700.woff2") format("woff2"), url("/assets/fonts/lato-v14-latin-700.woff") format("woff")
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local("Lato Black"), local("Lato-Black"), url("assets/fonts/lato-v14-latin-900.woff2") format("woff2"), url("/assets/fonts/lato-v14-latin-900.woff") format("woff")
}

body {
	color: #222;
	margin: 0;
	font-size: 13px;
	font-family: sans-serif
}

body {
	background: #F4F4F4;
	font-family: Lato, sans-serif
}